*{
    padding: 0;
    margin: 0;
}
body,html{
    font-family: Microsoft YaHei;
}
a{
   text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}

ul,li{
    list-style: none;
}

/*table{
    border-collapse: collapse;
}*/

.clearfix{
    zoom: 1;
}

.clearfix:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}


.img{
    border:none;
}